<!doctype html>
<html ng-app="eae">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="E aê! Site de encontros dentro da web!">
        <meta name="author" content="Roberto R. Américo">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        
        <title>E aê!</title>
        
        
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="theme.css" type="text/css">    
        <link rel="stylesheet" href="chat.css" type="text/css">   
    <!-- Header -->
    </head>
<body>
    <div ng-controller="maincontrol">
        <div class="chat-container">

            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <!-- Chat Messages -->
            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <div class="chat-messages">
                <div class="chat-header">
                    <div class="chat-heading">
                         <h1><img src="uploads/eae.png">E aê!</h1>
                         <hr class="small">
                    </div>
                </div>
                <div ng-repeat="messagem in mensagem_enviada track by $index">
                    <div class="sent-message">
                        <span class="username">User 2:</span>
                        {{ messagem }}
                    </div>
                </div>
                <div ng-repeat="mensagem in mensagem_recebida track by $index">
                    <div class="receveid-message">
                        <span class="username" >User 1:</span>
                        {{ messagem }}
                    </div>
                </div>
                    <div class="clear"></div>
            </div>

            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <!-- User Input -->
            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <form ng-submit="send()" class="chat-input">
                <input type="text" autofocus ng-model="enviada">
            </form>

        </div>
    </div>

    <!-- Angular -->
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular/app.js"></script>
    
    <!-- Socket.io -->
    <script src="socket.io/socket.io.js"></script>

</body>
</html>
