@viewport{
    zoom: 1.0;
    width: device-width;
}

.container{
	background-color: rgba(255,255,255,0.3);
}

.site-heading img{
	max-width:200px;
    max-height:80px;
    width: auto;
    height: auto;
	 padding-right: 60px;
	padding-bottom: 20px;
}


.site-heading{
	padding: 100px 0 50px;
	padding: 150px 0;
	text-align: center;
	margin-top: 0;
	line-height: 1.1;
	display: block;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 10px 0 0;
}

.subheading{
	font-size: 24px;
	line-height: 1.1;
	color: #293134;
	display: block;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 10px 0 0;
}

.site-heading > h1{
	color: #d95226;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.p{
	font-family:'Helvetica Neue'; 
	font-size: 12px; 
	line-height: 1.42857143; 
	color: #333;
}

.btn:hover, .btn:focus {
    color: white;
    background-color: #d95226;
    border: 1px solid #d95226;
}

.diviser{
	height:50px;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}